<!-- <button (click)="edit()"></button> -->

<!-- <table #dataTable class="table table-striped table-bordered" style="width:100%"></table> -->
<table id="dataTable" #dataTable class="table table-striped table-bordered" style="width:100%">
    <!-- <thead>
        <tr>
            <th *ngFor="let column of columns">
                {{column}}
            </th>
            <th *ngIf="options.actions.enable === true">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rowDatum of rowData">
            <td *ngFor="let cell of rowDatum">
                {{cell}}
            </td>
            <td *ngIf="options.actions.enable === true">
                <ng-container *ngFor="let action of options.actions.actions">
                    <i class="fa fa-edit" *ngIf="action.type === 'edit'" (click)="edit(rowDatum[0])"></i>
                </ng-container>
            </td>
        </tr>
    </tbody> -->
  </table>